# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# iOS
ios/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Android
android/
*.apk
*.ap_
*.aab
local.properties
*.iml
.gradle/
